/* Tổng quan */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header */
.job-header {
    position: fixed;
    width: 100vw;
    height: 70px;
    z-index: 1000;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-header .WebFunny {
    position: absolute;
    top: 27px;
    left: 345px;
    text-decoration: none;
}

.job-header img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    top: -12px;
    left: -245px;
}

.job-header span {
    position: absolute;
    top: -5px;
    left: -190px;
    font-size: 26px;
    font-weight: bold;
    color: black;

}

.job-header .findJobs {
    position: absolute;
    top: 27px;
    left: 345px;
    font-size: 16px;
    text-decoration: none;
    color: #5e5b5b;
}


.job-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-details .job-overview {
    margin-top: 71px;
    width: 99vw;
    height: 220px;
    background-color: #F8F8FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-summary {
    width: 80vw;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-job-summary {
    display: flex;
    gap: 15px;
    width: 45%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin-left: 25px;
}

.left-job-summary img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.left-job-summary .info-job-summary {
    display: flex;
    flex-direction: column;
}

.left-job-summary .info-job-summary h2 {
    margin: 5px;
    font-size: 19px;
}

.left-job-summary .info-job-summary p {
    margin: 5px;
    font-size: 15px;
    color: #5e5b5b;
}

.right-job-summary {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: white;
    width: 15%;
    height: 60px;
    margin-right: 25px;
}

/* .right-job-summary i {
    font-size: 20px;
    color: #c3c3c3;
}

.right-job-summary .behind-line {
    width: 1px;
    height: 45px;
    background-color: #5e5b5b;
} */

.right-job-summary button {
    margin-right: 10px;
    width: 120px;
    height: 50px;
    background-color: rgb(80, 80, 242);
    border: none;
    font-weight: bold;
    color: white;
}

.job-benefits {
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
    width: 80vw;
    height: 350px;
}

.job-benefits .intro-job-benefits {
    width: 100%;
    height: 140px;
}

.job-benefits .intro-job-benefits h2 {
    margin: 50px 0 10px 0;
    font-size: 26px;
    font-weight: lighter;
}

.job-benefits .intro-job-benefits span {
    color: #5e5b5b;
    font-weight: lighter;
    font-size: 17px;
}

.details-job-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 210px;
}

.left-job-details-benefits {
    width: 31%;
    height: 190px;
}

.left-job-details-benefits i {
    font-size: 35px;
    color: #4640DE;
}

.left-job-details-benefits h3 {
    font-weight: lighter;
    width: 270px;
    font-size: 22px;
    margin: 25px 0px 15px 0px;
}

.left-job-details-benefits p {
    font-size: 16px;
    color: #5e5b5b;
}

.middle-job-details-benefits {
    width: 31%;
    height: 190px;
}

.middle-job-details-benefits i {
    font-size: 35px;
    color: #4640DE;
}

.middle-job-details-benefits h3 {
    font-weight: lighter;
    width: 270px;
    font-size: 22px;
    margin: 25px 0px 15px 0px;
}

.middle-job-details-benefits p {
    font-size: 16px;
    color: #5e5b5b;
}

.right-job-details-benefits {
    width: 31%;
    height: 190px;
}

.right-job-details-benefits i {
    font-size: 35px;
    color: #4640DE;
}

.right-job-details-benefits h3 {
    font-weight: lighter;
    width: 270px;
    font-size: 22px;
    margin: 25px 0px 15px 0px;
}

.right-job-details-benefits p {
    font-size: 16px;
    color: #5e5b5b;
}

.job-description {
    margin-top: 50px;
    width: 55vw;
}

.details-job-description {
    margin-bottom: 30px;
}

.details-job-description h2 {
    font-size: 26px;
    font-weight: lighter;
    margin: 15px 0 10px 0;
}

.details-job-description p {
    font-size: 16px;
    color: #5e5b5b;
}

.details-job-description p span {
    color: #56CDAD;
    margin-right: 5px;
}

.company-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 145px;
    align-items: center;
    /* width: 99vw; */
    height: 370px;
    border-top: 1px solid #c8c8c8;
}

.company-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 170px;
}


.top-company-description {
    height: 35%;
    display: flex;
}

.top-company-description img {
    width: 60px; 
    height: 60px;
}

.moreInfo-company {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.moreInfo-company h3 {
    margin: 0;
    margin-left: 15px;
    font-weight: lighter;
    font-size: 26px;
}

.moreInfo-company a {
    margin: 0;
    margin-left: 15px;
    font-weight: bold;
    color: #4640DE;
    text-decoration: none;
    font-size: 14px;
}

.bottom-company-description {
    margin-top: 10px;
    font-size: 15px;
    color: #515B6F;
}

.company-images {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 270px;
}

.company-images .main-company-images {
    object-fit: cover;
    width: 300px;
    height: 270px;
    margin-left: 50px;
}

.small-company-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-company-images img {
    object-fit: cover;
    width: 170px;
    height: 130px;
}

.similar-jobs {
    width: 99vw;
    height: auto;
    background-color: #F8F8FD;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.similar-jobs .similar-job-container {
    margin: 0 150px;
}

.similar-jobs .header-similar-jobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: #F8F8FD;
}

.similar-jobs .header-similar-jobs h2 {
    font-size: 32px;
    font-family: "ABeeZee", sans-serif;
}

.similar-jobs .header-similar-jobs h2 span {
    color: #26a4ff;
}

.similar-jobs .header-similar-jobs a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #4640DE;
}

.similar-jobs .header-similar-jobs a i{
    margin-left: 10px;
}

.similar-jobs .job-grid {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    row-gap: 30px;
    column-gap: 50px;
    /* margin: 0 150px; */
}

.similar-jobs .job-grid .job-card {
    padding: 15px 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.job-card .job-logo {
    margin: 0px 60px;
}

.job-card .job-logo img {
    width: 60px;
    margin-bottom: 20px;
}

.job-card .infor-job-card {
    margin-right: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-card .infor-job-card h3 {
    color: #25324B;
    width: 300px;
    font-size: 20px;
    margin: 10px 0 7px 0;
}

.job-card .infor-job-card p {
    color: #7C8493;
    font-size: 16px;
    margin: 7px 0;
}

.job-card .infor-job-card .job-tags {
    font-size: 16px;
    margin: 12px 0 10px 0;
}

.tag-full-time, .tag-part-time {
    padding: 11px 20px 11px 20px;
    border-radius: 25px;
    margin-right: 15px;
    text-transform: capitalize;
}

.tag-full-time {
    background-color: #EEFAF7;
    color: #56CDAD;
}

.tag-part-time {
    background-color: rgb(243, 243, 255);
    color:rgb(98, 98, 160)
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 400px;
    background-color: black;
}

.footer-container {
    width: 80.2%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.footer-small1-container, .footer-small2-container {
    width: 100%;
}

.footer-small1-container {
    color: white;
    display: flex;
    gap: 60px;
    height: 80%;
    padding-bottom: 30px;
}

.footer-small1-container h4 {
    font-size: 18px;
}

.footer-small1-container p {
    margin: 15px 0;
    
}

.intro-small-container {
    width: 565px;
}

.intro-small-container p {
    line-height: 1.5;
}


.category-small-container {
    width: 140px;
}

.resources-small-container {
    width: 140px;
}

.notifications-small-container {
    width: 100px;
}

.notifications-small-container, input {
    height: 35px; 
    width: 280px; 
    border: none;
}

.notifications-small-container, button {
    height: 37px; 
    width: 100px; 
    border: none; 
    margin-left: 10px; 
    border-radius: 7px; 
    background-color: #4640DE; 
    color: white;
}

.footer-small2-container {
    padding-top: 30px;
    border-top: 1px solid #4A4E58;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.footer-small2-container p {
    color: #8F9197;
}

.footer-small2-container .icon-footer {
    display: flex; 
    gap: 10px;
    padding-top: 5px;
    justify-content: space-between;
    width: 200px;
}

.footer-small2-container i {
    display: flex;               
    justify-content: center; 
    align-items: center;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #4A4E58;
}

/* Lớp phủ mờ */
.overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Màu nền đen mờ */
    z-index: 999;  /* Đảm bảo lớp phủ nằm trên tất cả các phần tử khác */
    display: none;  /* Ẩn lớp phủ mặc định */
}

/* CSS form  */

.myApplicationDetail-container {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 54px;
    left: 20%;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 710px;
}

.myApplicationDetail-small-container {
    background-color: white;
    width: 700px;
    height: 700px;
    padding: 15px 40px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.info-job-myApplicationDetail {
    display: flex;
    gap: 40px;
    align-items: center;
    border-bottom: 1px solid #D6DDEB;
    padding: 0;
}

.info-personal-myApplicationDetail {
    display: flex
;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.info-personal-myApplicationDetail h3 {
    font-weight: lighter;
    font-size: 22px;
    margin: 10px 0 0px 0;
}

.info-job-myApplicationDetail .job-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.info-job-myApplicationDetail .infor-job-card p {
    /* font-size: 24px; */
    color: #515B6F;
}

.info-personal-myApplicationDetail p {
    color: #7C8493;
    font-size: 17px;
    padding: 10px 0 5px 0;
}

.info-personal-myApplicationDetail .info-personal {
    display: flex
;
    flex-direction: column;
    padding: 5px 0;
}

.info-personal-myApplicationDetail .info-personal h4 {
    margin: 15px 0 20px 0;
    font-weight: lighter;
    /* color: #515B6F; */
}

.info-personal-myApplicationDetail .info-personal input {
    /* margin-top: 7px; */
    height: 35px;
    width: 100%;
    border: 1px solid #D6DDEB;
}

.full_name::after, .phone::after, .email::after {
    content: "*";
    color: red;
    margin-left: 5px; /* Khoảng cách giữa văn bản và dấu sao */
    font-size: 1em; /* Điều chỉnh kích thước nếu cần */
}

.line-top-bottom {
    margin: 25px 0;
    height: 1px;
    border-top: 1px solid #D6DDEB;
}

.info-personal-myApplicationDetail .attachVC {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.info-personal-myApplicationDetail .attachVC h3 {
    font-weight: lighter;
    font-size: 18px;
}

.attachVC .attachCV-Detail {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid #4640DE;
    border-radius: 8px;
    width: 300px;
    height: 65px;
    flex-direction: column;
}

.attachVC .attachCV-Detail i {
    margin-right: -10px;
    color: #4640DE;
    font-size: 22px;
}

.attachVC .attachCV-Detail p {
    margin-top: -2px;
    color: #515B6F;
    margin-bottom: 3px;
}

.underline {
    border-top: 1px solid #D6DDEB;
    margin: 20px 0;
}

.buttonSubmit {
    display: flex;
    justify-content: right;
}

.cv-input {
    height: 35px;
    width: 280px;
    border: none;
    margin: 10px 0 0 90px;
}

.info-personal-myApplicationDetail button {
    background-color: #4640DE;
    border: none;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 0 10px 0px;
    width: 180px;
}

.info-personal-myApplicationDetail p {
    margin: 0;
    font-size: 16px;
}